*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
    box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb {
    background: rgb(131, 127, 127);
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
header{
    background: linear-gradient(to right, rgb(182 29 205 / 80%), #5f1782);
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
}
.logo img{
    width: 200px;
}
header ul a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 1px;
    font-weight: 600;
}
header ul a:hover{
    box-shadow: 2px 2px 6px 1px #3ca8ff;
    border: 1px solid white;
    color: white;
}
.header-img-top{
    margin-top: -170px;
}
#activ{
    box-shadow: 2px 2px 6px 1px #3ca8ff;
    border: 1px solid white;
    color: white;
}
.carousel-item img{
    max-height: 80vh;
}
.color-carusel-text{
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
    color: #2c8cdc;
}
.news{
    max-width: 960px;
    width: 100%;
    margin: 20px auto;
}
.news-text p{
    font-size: 35px;
    color: rgb(47, 94, 188);
}
.card{
    width: 18rem;
    box-shadow: 10px 5px 10px rgb(191 196 209);
    margin: 20px;
    display: flex;
    align-items: center;
}
.card:hover{
    margin: 20px 32px;
    padding: 0;
    transition: 0.5s;
}
.card-img-size{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-body h5{
    text-align: center;
    font-size: 25px;
}
.card-body p{
    font-size: 15px;
}
.btn-btn{
    max-width: 150px;
    width: 100%;
    padding: 2px 25px;
    color: #1c2de5;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: inset 0 -1px 1px #92969f;
    background-image: linear-gradient(#fff,#c9c9c9);
}
.btn-btn:hover{
    color: #010e93;
    box-shadow: inset 0.5px -1px 3px #92969f;
}
.lecturer{
    max-width: 960px;
    width: 100%;
    margin: 20px auto;
}
.lecturer-text p{
    font-size: 35px;
    color: #005eaa;
}
.btn{
    padding: 2px 25px;
    border-radius: 15px;
    background:  linear-gradient(to right,rgb(182 29 205), #5f1782);
}
.btn a{
    transition: 0.5s;
    color: #ffffff;
    text-decoration: none;
}
.btn:hover{
    color: #511270;
    box-shadow: inset 0.5px -1px 3px #511270;
}
.footer{
    background: linear-gradient(to right, rgb(182 29 205), #5f1782);
}
.footer-menu{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
.footer-text{
    color: white;
    margin-top: 20px;
}
.footer-text p{
    display: flex;
    align-items: center;
}
.footer-text p a{
    color: white;
    text-decoration: none;
}
.footer-text p a:hover{
    text-decoration: underline;
}
.footer-text p i{
    color: black;
    font-size: 30px;
    margin-right: 10px;
}
.menu-register{
    display: flex;
    justify-content: center;
    padding: 0;
}
.form-elements{
    display: flex;
}
.content-head{
    margin-top: 50px;
    font-size: 2.3em;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
    text-align: center;
    color: #2c8cdc;
}
.form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-margin-input{
    margin-top: 20px;
}
.input-margin{
    margin: 50px 20px;
}
.input-label{
    font-size: 20px;
    color: #2c8cdc;
    margin-top: 25%;
}
.input-label-two{
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
    text-align: center;
    color: #2c8cdc;
}
.input-register{
    width: 250px;
    height: 40px; 
    border-radius: 30px;
    border: 1px solid #005eaa;
    padding: 0px 15px;
    font-size: 16px;
    outline: none;
    margin: 15px;
}
.input-register-info{
    border-radius: 30px;
    border: 1px solid #005eaa;
    padding: 15px 15px;
    font-size: 16px;
    outline: none;
    margin: 10px;
}
.input-register-button{
    width: 75%; 
    height: 50px;
    border-radius: 30px;
    margin-top: 30px;
    background: linear-gradient(to right, #005eaa 0%, #6ab2ed 100%);
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}
.input-register-button:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.thankyou_message{
    max-width: 500px;
    width: 100%;
    display: none;
    background: none;
    border: 8px solid #3ca8ff;
    box-shadow: 20px 20px 20px 5px #1b6bab;
    text-align: center;
    border-radius: 20px;
}
.thankyou_message{
    color: #2c8cdc;
    text-shadow: 10px 10px 4px;
    margin: 50% 0;
}
.thankyou_message p{
    padding: 15px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
}
#text{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
    color: #2c8cdc;
    text-shadow: 10px 10px 4px;
    margin-top: 50px;
}
.about-us-vidio-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-vidio-text iframe{
    margin-top: 50px;
}
.counter-container div{
  margin: 5%;
}
.counter-container div i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #5f1782;
}
.counter-container div p{
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  font-family: "popins";
  text-align: center;    
  color: #5f1782;
}
.counter-value{
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
  font-family: "popins";
  text-align: center;
  color: #511270;
}
.register-menu{
    margin: 10% 15%;
}
.register-menu-p-one{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
    text-align: center;
    color: #2c8cdc;
}
.register-menu-p-two{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
    text-align: center;
    color: #2c8cdc;
}
.register-menu-p-two a{
    color: #24a0ff;
}
.register-menu-p-two a:hover{
    color: #005290;
}
.register-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
    color: #2c8cdc;
}
.register{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    font-family: "popins";
}
.register p{
    margin-bottom: 50px;
    color: #2c8cdc;
}
.register img{
    max-width: 500px;
    width: 100%;
    display: flex;
    margin: 50px auto;
}
.news-all{
    margin-top: 10%;
}
.news-all a{
    padding: 10px 30px;
    background: linear-gradient(to right, rgb(182 29 205), #5f1782);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px #838485;
}
.news-all a:hover{
    opacity: 0.8;
    color: white;
    box-shadow: 3px 3px 3px #535454;
}
.cards-grup-top{
    margin-top: 50px;
}
.no-margin p{
    margin-top: 0;
}
.no-margin label{
    margin-top: 0;
}
.black-color{
    color: black;
}
.button-color{
    background: linear-gradient(to right, #000000 0%, #2d2b30 100%);
}
.black-border{
    border: 1px solid black;
}
@media (max-width: 450px){
    .lecturer-text p{
        font-size: 25px;
    }
}